@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.container-paypal{
  height: 100vh;
  width:100vw;
  /* display: flex; */
  /* align-items:center;
  justify-content: center; */
}

button{
  background-image: linear-gradient(to right,#003087, #338de6);
  padding: 6px 8px;
  border-radius: 4px;
}
